@media (max-width: 620px) {
  // Header
  .header {
    min-height: unset;

    &__title {
      font-size: 30px;
    }

    &__title strong {
      font-size: 40px;
    }
  }

  // General
  .section {
    padding: 40px 0;
  }

  .title-1 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .title-2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  // Projects
  .projects {
    .project {
      &__title {
        font-size: 22px;
      }
    }
  }

  // Content
  .content {
    &-list {
      row-gap: 20px;

      &__item {
        font-size: 16px;
      }
    }
  }

  // Project-details
  .project-details {
    &__desc {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  // Footer
  .footer {
    padding: 40px 0 30px;

    &__wrapper {
      row-gap: 20px;
    }

    .social {
      column-gap: 20px;

      &__item {
        width: 28px;
      }
    }
  }
}
