$blackpure: #000000;
$black: #171718;
$black-border: #26292d;
$white: #fff;
$purple: #5c62ec;

$dark-bg: $black;
$dark-border: $black-border;
$header-text: $white;
$black-text: $black;
$accent: $purple;
